* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Helvetica, sans-serif;
}

main {
    margin: auto;
    padding: 0 5rem;
}

body {
    font-size: 16px;
}

h1 {
    align-items: center;
    font-size: 45px;
    padding: 1.5rem;
    color: #ffffff;
}

h2 {
    align-items: center;
    font-size: 25px;    
    text-shadow: 0 0 3px #888888;        
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: 1px solid #888888;    
}

ul {
    padding: 1.5rem;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
}

header, footer {
    margin: 1rem auto;    
    padding: 1.5rem;
    background-color: #3377aa;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    color: white;
    box-shadow: 10px 10px 8px #888888;
}

footer {
    grid-template-columns: 1fr;
}

header img {
    width: 65%;
    height: auto;    
    box-shadow: 10px 10px 8px #1f1f1f;
}

#dateMod {
    color: yellow;
    font-size: 13
    px;
}